---
// frontmatter
const navLinkClasses = "nav-link hover:text-primary";
import { Image } from "astro:assets";
import { getLink } from "@utils/links.js";
import hedgehogImage from "@images/icons/hedgehog/hedgehog.png";
import { PreferencesManager } from "@utils/preferences.js";
import ThemeButton from "./ThemeButton.astro";
import MobileMenu from "./MobileMenu.astro";
---

<header
  id="site-header"
  class={`
    py-1 bg-surface-3 
    fixed w-full top-0 z-10
    transition-transform duration-300
    max-h-16
    border-b border-border-1
  `}
>
  <div class="mx-auto px-2 bg-surface-3 w-full">
    <nav class="flex justify-between items-center" aria-label="Main navigation">
      <a
        href="/"
        class="site-title font-title overflow-x-hidden whitespace-nowrap flex items-center"
      >
        <Image
          src={hedgehogImage}
          alt="A cartoon hedgehog"
          class="h-12 w-auto mr-2"
          loading="eager"
        />
        <span class="text-3xl font-serif font-light text-text-dimmed"
          >Nathan's Site</span
        >
      </a>

      <div class="flex items-center font-sans" id="navbarMain">
        <ul class="hidden md:flex items-center space-x-6 mx-4">
          <li class="nav-item">
            <a class={navLinkClasses} href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class={navLinkClasses} href="/blog/">BLOG</a>
          </li>
          <li class="nav-item">
            <a class={navLinkClasses} href="/about/">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class={navLinkClasses} href="/projects/">PROJECTS</a>
          </li>
        </ul>
        <ThemeButton
          class="p-2 rounded m-0 hover:bg-surface-4 flex items-center justify-center"
          aria-label="Toggle dark mode"
        />
        <MobileMenu
          class="md:hidden p-2 rounded hover:bg-paper-300 dark:hover:bg-zinc-700 flex items-center justify-center"
        />
      </div>
    </nav>
  </div>

  <nav
    id="mobileMenu"
    aria-label="Mobile navigation"
    class="hidden w-full border-t bg-surface-3 border-border-1 md:hidden font-sans py-4"
  >
    <div class="columns-2">
      <ul class="space-y-3 w-full">
        <li>
          <a href="/" class="block hover:text-text-muted text-center">HOME</a>
        </li>
        <li>
          <a href="/blog/" class="block hover:text-text-muted text-center"
            >BLOG</a
          >
        </li>
        <li>
          <a href="/about/" class="block hover:text-text-muted text-center"
            >ABOUT</a
          >
        </li>
        <li>
          <a href="/projects/" class="block hover:text-text-muted text-center"
            >PROJECTS</a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
<div id="header-offset" class="h-16"></div>
