---
import { Image } from "astro:assets";
import type { ImageFunction } from "astro:content";
import BackArrow from "@components/common/BackArrow.astro";

interface Props {
  title: string;
  formattedDate: string;
  category: string;
  cover?: {
    src: ImageMetadata;
    alt?: string;
  };
}

const { title, formattedDate, category, cover } = Astro.props;

// Function to slugify the category
function slugify(text: string): string {
  return text.toLowerCase().replace(/\s+/g, "-");
}
---

<BackArrow href="/blog/" label="Back to all posts" extraClasses="mb-4" />
<h1 class="text-4xl font-sans mt-4 mb-2">{title}</h1>
<div class="post-meta flex flex-wrap gap-x-4 gap-y-2 text-ln-muted-1 mb-4">
  <span class="post-date">
    <span class="material-symbols-outlined align-middle text-sm"
      >calendar_today</span
    >
    {formattedDate}
  </span>
  <span
    class="post-category hover:text-ln-primary-1 transform hover:scale-105 transition-all duration-200"
  >
    <span class="material-symbols-outlined align-middle text-sm">folder</span>
    <a href={`/blog/category/${slugify(category)}/`} class="">
      {category}
    </a>
  </span>
</div>

{
  cover && (
    <div class="post-image mb-6">
      <Image
        src={cover.src}
        alt={cover.alt || title}
        width={1200}
        height={675}
        class="rounded-md w-full h-auto max-h-96 object-cover shadow-md"
      />
    </div>
  )
}
